@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+20&family=Jersey+25&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap");

@import "./section2_article4.scss";

.mainCarouselContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.article4_carouselDiv {
  position: relative;
  height: 20vw;
  width: 85%;
  left: 15%;
  bottom: -5%;
  object-fit: contain;
}

/**
*todo TEXTOS Y TITULOS DEL MAINCAROUSEL Y EL CAROUSEL SECUNDARIO
*/
#carousel_title {
  position: absolute;
  color: rgb(194, 196, 198);
  font-size: 5vw;
  font-family: "Keania One", sans-serif;
  width: 40vw;
  top: 22%;
  left: 6%;
  z-index: 10;
}
/**
*? ANIMACIONES DE TITULO Y CONTENIDO ===============
*/
.title_animation {
  animation: title_animation 3s ease;
}
.title_iluminate_animation {
  animation: title_iluminate_animation 5s ease;
}
.content_animation {
  animation: content_animation 3s ease;
}
.image1_transition {
  animation: image1_transition 5s ease;
}
.image2_transition {
  animation: image2_transition 4.8s ease;
}
.image3_transition {
  animation: image3_transition 4.45s ease-in;
}
/**
*? ==================================================
*/
#carousel_subText {
  position: absolute;
  margin: 0.75em;
  font-size: 2.5vw;
  font-family: "Geo", sans-serif;
  bottom: 3%;
  left: 6%;
  width: 35%;
  z-index: 10;
  color: rgb(224, 223, 223);
}

#carousel_subText2 {
  position: absolute;
  bottom: 0;
  font-size: 1.45vw;
  font-family: "Geo", sans-serif;
  background-color: rgba(17, 16, 16, 0.67);
  width: 100%;
  height: 30%;
  color: rgb(233, 230, 230);
  z-index: 10;
}

#ilumination_title2 {
  position: absolute;
  color: white;
  font-size: 4vw;
  font-family: "Keania One", sans-serif;
  width: 20vw;
  bottom: 12%;
  right: 5%;
  z-index: 10;
  text-align: center;
}
/**
*TODO==========================================================
*/
.div_image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

#carousel_image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  top: 500px;

}
.ilumination_movil_fond {
  scale: 0.8;
}

.div_indicators {
  position: absolute;
  bottom: 50%;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .circle {
    width: 1em; /* 4 * 0.25rem = 1rem, as 1rem is typically 16px in default browser settings */
    height: 1em; /* 4 * 0.25rem = 1rem */
    margin: 5px; /* 1 * 0.25rem = 0.25rem */
    border-radius: 50%;
  }
}

//TEXTS TRANSITIONS
@keyframes title_animation {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes title_iluminate_animation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
    color: rgb(115, 115, 105);
  }
  55% {
    color: rgb(174, 168, 121);
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
    color: rgb(238, 235, 217);
  }
}
@keyframes content_animation { 
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//IMAGES TRANSITIONS
@keyframes image1_transition {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes image2_transition {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes image3_transition {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/**
*todo ---TABLET RESPONSIVE MODEL---
*/
@media (max-width: 985px) {
  .mainCarouselContainer {
    height: 70vh;
    width: 100vw;
  }
  #carousel_title {
    //font-size: 72px;
    font-size: 8vw;
  }
  #carousel_subText {
    font-size:3.5vw;
  }
}

/**
** ---MOVIL RESPONSIVE MODEL---
*/
@media (max-width: 460px) {
  .mainCarouselContainer {
    height: 70vh;
    width: 100vw;
  }
  .article4_carouselDiv {
  height: 22vw;
  width: 90%;
  }
  #carousel_subText2 {
  font-size: 1.55vw;
  }
  #carousel_image {
    width: 100vw;
  }
  #carousel_title {
    //font-size: 72px;
    font-size: 9vw;
  }
  #ilumination_title2 {
    font-size: 4.5vw;
    bottom: 15%;
  right: 7%;
  }
  #carousel_subText {
    font-size: 4.5vw;
    width:50%;
    bottom:10%;
  }
  .ilumination_movil_fond {
    scale: 0.6;
  }
}
